<div class="wrapper">
  <div class="video-title">Hey! Upload your vid here&nbsp;</div><br>
  <div class="file-upload">
    <%= file_field_tag 'videoContainer' %>
    <i class="fa fa-arrow-up"></i>
  </div>
</div>
